/* .home {
  display: grid;
  gap: 16px;
  justify-content: center;
}

.home-header {
  display: grid;
  justify-content: space-between;
  align-items: center;
} */

.user-info {
    display: grid;
    gap: 12px;
}

.home {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.home-header {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 16px;
}

.home-actions .username {
    margin-right: 12px;
    color: #444;
}